<script setup lang="ts">
import ProfileMe from "@/components/ProfileMe.vue";
import EducationMe from "@/components/EducationMe.vue";
import InterestMe from "@/components/InterestMe.vue";
</script>

<template>
  <v-container>
    <v-row>
      <v-col><ProfileMe></ProfileMe></v-col>
      <v-col>
        <v-row>
          <EducationMe></EducationMe>
        </v-row>
        <v-row>
          <InterestMe></InterestMe>
        </v-row> </v-col
    ></v-row>
  </v-container>
</template>
