<script setup lang="ts">
import { ref } from "vue";
const edcList = ref([
  {
    period: "2020 - Now",
    level: "Bachelor's degree / Computer Science",
    academy: "Burapha University, Thailand",
  },
  {
    period: "2014 - 2019",
    level: "Secondary Education / Science Mathematics",
    academy: "Bangbowitthayakhom School, Thailand",
  },
]);
</script>

<template>
  <v-card class="mx-auto mt-3" width="750" height="200" variant="outlined">
    <v-card-item>
      <div>
        <div class="text-h6 mb-1 text-center">Education</div>
      </div>
      <v-table>
        <thead>
          <tr>
            <th>Period</th>
            <th>Level</th>
            <th>Academy</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) of edcList" :key="index">
            <td>{{ item.period }}</td>
            <td>{{ item.level }}</td>
            <td>{{ item.academy }}</td>
          </tr>
        </tbody>
      </v-table>
    </v-card-item>
  </v-card>
</template>
