<script setup lang="ts"></script>

<template>
  <v-card class="mx-auto mt-3" width="750" height="340" variant="outlined">
    <v-card-item>
      <div>
        <div class="text-h6 mb-1 text-center">What I'm Interested In</div>
      </div>
      <v-carousel show-arrows="hover" height="290" hide-delimiters>
        <v-carousel-item
          src="https://mail.google.com/mail/u/0?ui=2&ik=287b61ef32&attid=0.2&permmsgid=msg-f:1751481533705397814&th=184e832cd72aa636&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ_PFxr15S0n_KdrJN_Ai41jrSkMQAzTMhV9m5yCOn50gOxJTU5GSxz-FiA8_9jCNcZKlquvrgh6ToQJGqDYqV4KugIlXra0cLMbzNBB2G_uHhmgwzG7iWrvW-c&disp=emb&realattid=184e8326449207cf5f03"
          cover
        ></v-carousel-item>

        <v-carousel-item
          src="https://dbkpop.com/wp-content/uploads/2019/04/exo_love_shot_5.jpg"
          cover
        ></v-carousel-item>

        <v-carousel-item
          src="https://staticg.sportskeeda.com/editor/2022/01/cbc36-16421825565301-1920.jpg"
          cover
        ></v-carousel-item>

        <v-carousel-item
          src="https://i0.wp.com/codigoespagueti.com/wp-content/uploads/2022/05/Convierten-a-Todoroki-en-una-waifu-con-gran-fanart-de-My-Hero-Academia.jpg?fit=1280%2C720&quality=80&ssl=1"
          cover
        ></v-carousel-item>
      </v-carousel>
    </v-card-item>
  </v-card>
</template>
