<script setup lang="ts"></script>

<template>
  <v-card class="mx-auto mr-10" max-width="344" height="550" variant="outlined">
    <div class="py-3">
      <div class="text-h4 mb-1 text-center">My Profile</div>
    </div>
    <v-img src="me.jpg" height="400px"></v-img>
    <v-card-item>
      <div>
        <div class="text-h5 mb-1 mt-4 text-center">Sasina Mumao</div>
      </div>
    </v-card-item>
  </v-card>
</template>
